#MM{
    color: red; 
}
#CC{
    color: red;
}
#AA{
    color: red;
}
#WW{
    color: red;
}
img{
    display:block;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:50px;
    margin-top:50px;
}