*{
margin: 0;
}

body{
font-family: 'Poppins',sans-serif;
background: linear-gradient(135deg,#0A192F,#112240);
color: #E6F1FF;
}

header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px;
background:linear-gradient(135deg,#0F172A ,#1E3A8A,#2563EB);
border-radius: 22px;
}

ul{
display: flex;
list-style: none;}


header a{
justify-content: center;
background: linear-gradient(135deg,#0F172A ,#1E3A8A,#2563EB);
color: #E6F1FF;
border-radius: 12px;
padding: 12px;

}
h1{
text-align: center;
color: #E6F1FF;
font-family: 'Orbitron',sans-serif;}

header a{
text-decoration: none;
margin-left: 20px;
transition: 0.3s;
color: #E6F1FF;
}

header a:hover{
transition: 1s;
box-shadow: 0 12px 12px ;
transform: translateY(-3px);
box-shadow:0px,0px, 2px, 3px black ;
background: linear-gradient(135deg,#2563EB ,#0F172A,#1E3A8A);
color: #00BFFF;
}

#about{
padding: 24px ;
height: 124px;
background:linear-gradient(135deg,#0F172A ,#1E3A8A,#2563EB);
border-radius: 15px;
margin-top:5%;
margin: right 5%;;}

#about h1{
    text-align:center;
    color:#E6F1FF ;
    font-style: italic;
    font-size:24px;
}

hr{
border:none;
width: 22%;
height:9px;
justify-self: center;
border-radius: 3px;
box-shadow: 4,2,0,0;
background: linear-gradient(135deg,#0F172A ,#1E3A8A,#2563EB);}

#about span{
justify-content:justify;
font-size: 28px;
color: #E6F1FF;
}

#about p{
text-align: center;
color: #E6F1FF;}

#team{
margin-top: 25px;
background:linear-gradient(135deg,#0F172A ,#1E3A8A,#2563EB);
padding: 15px;
border-radius: 12px;
}

#team p{
text-align: center;
}

#card_container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    padding: 30px;
}

.card{
background: #0f172a;
color: white;
display: grid;
padding: 10px;
justify-content:center;
border-radius:10px;
align-items: center;
height: 240px;
flex-direction: column;
box-shadow: 0 2px 7px rgba(0, 191,255,0.4);
text-align: center;
overflow: hidden;
}

.card:hover{
transition: 0.8s;
transform: translateY(-10px);
box-shadow:0 10px 30px rgba(0, 191,255,0.4);
}

.card img{
justify-content: center;
align-items: center;
margin-left:37.5%;
height: 50px;
width: 60px;
border-radius: 4px;
}

.card h2{
font-family: 'Orbitron',sans-serif;
margin: 15px 0px 10px 5px;
font-size: 1.2rem;
}

.card p{
padding:15px;
font-size:14px;
overflow: hidden;
}

.card button{
background: linear-gradient(90deg,#1E3A8A,#2563EB);
border: none;
padding: 8px 15px;
border-radius: 6px;
color: white;

}

.card button:hover{
cursor: pointer;
transition:0.3s;
background: linear-gradient(90deg,#2563EB,#00BFFF);}

html{
scroll-behavior: smooth;
}