#MM{
    color: red; 
}
#CC{
    color: red;
}
#AA{
    color: red;
}
#WW{
    color: red;
}
img{
    display:block;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:50px;
    margin-top:50px;
}
body{
    font-size: 10margin: ;pt;
    font-family: verdana,arial,
    helvetica,geneva,sans-serif;
    color: gray;
    background-color: white;}
   body{
   background: green;
    }
    #TY{color: red;}