.jour{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right,rgba(224, 224, 224, 0.822),rgba(17, 1, 1, 0.644));
}
table{
    border-collapse: collapse;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}
td,th{
    padding: 7px;
    border: 2px solid;
    text-align: center;
}
.matin{
    width: 300px;
    height:660px;
    background: linear-gradient(to right)
}
   
thead{
    background-color: rgba(9, 2, 70, 0.377);
    border-radius: 20%;
}

.cadre{
    display: flex;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 10%;
    
}

p{
    text-align: center;
    color: azure;
    font-size: 20px;
}
#cadre{
    display: flex;
    margin-left: 60%;
}
.box{
    margin-left: 5%;
    margin-top: 20%;
}
span{
    color: rgba(20, 20, 168, 0.911);
}
th{
    background: linear-gradient(to right,);
    color: rgb(248, 244, 245);
    border: 2px solid black;

}
.h3{
    font-family: helvetica;
    position: relative;
    width: max-content;
    font-size: 20px;
    color: #1e3a8a;
}
.h3::after{
   content: '' ;
   background: linear-gradient(to right ,rgb(242, 242, 245),rgb(27, 25, 49));
   border-radius: 100px;
   height: 4px;
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;

}
.soir{
   width: 70%;
   background: linear-gradient(to right);

}
hr{
    width: 99%;
    background-color: black;
}
strong{
    font-size: 20px;
}
body{
    min-height: 100vh;
}
.skill{
    margin-bottom: 15px;
}
.progress{
    width: 100%;
    height: 10px;
    background-color: grey;
    border-radius:  0 5px 5px 0;
}
.progress-bar{
    height: 10px;
    border-radius: 0 5px 5px 0 ;
    animation: fill 2s ease-in-out;
}
.html{
    width: 65%;
    background-color:  rgba(20, 20, 168, 0.911);
}
.css{
    width: 50%;
    background-color:  rgba(20, 20, 168, 0.911);
}
body{
    background-color: rgb(3, 172, 250);
    color: #222;
    transition: 1s;
}
i{
    color: white;
}


