*{
margin: 0;
padding: 0;
}
body{
font-family: 'Poppins',sans-serif;
background: linear-gradient(135deg,#0A192F,#112240);
color: #E6F1FF;
}

header{
display: flex;
padding: 20px;
background:linear-gradient(135deg,#0F172A ,#1E3A8A,#2563EB);
border-radius: 22px;
}

   

header a{
justify-content: center;
background: linear-gradient(135deg,#0F172A ,#1E3A8A,#2563EB);
color: #E6F1FF;
border-radius: 12px;
padding: 12px;

}
h1{
text-align: center;
color: #E6F1FF;
font-family: 'Orbitron',sans-serif;}

header a{
text-decoration: none;
margin-left: 20px;
transition: 0.3s;
color: #E6F1FF;
}

header a:hover{
transition: 1s;
box-shadow: 0 12px 12px ;
transform: translateY(-3px);
box-shadow:0px,0px, 2px, 3px black ;
background: linear-gradient(135deg,#2563EB ,#0F172A,#1E3A8A);
color: #00BFFF;
}

#about{
padding: 24px ;
height: 124px;
background:linear-gradient(135deg,#0F172A ,#1E3A8A,#2563EB);
border-radius: 15px;
margin-top:5%;
margin: right 5%;;}

#about h1{
    text-align:center;
    color:#E6F1FF ;
    font-style: italic;
    font-size:24px;
}

hr{
border:none;
width: 22%;
height:9px;
justify-self: center;
border-radius: 3px;
box-shadow: 4,2,0,0;
background: linear-gradient(135deg,#0F172A ,#1E3A8A,#2563EB);}

#about span{
justify-content:justify;
font-size: 28px;
color: #E6F1FF;
}

#about p{
text-align: center;
color: #E6F1FF;}

#team{
margin-top: 25px;
background:linear-gradient(135deg,#0F172A ,#1E3A8A,#2563EB);
padding: 15px;
border-radius: 12px;
}

#team p{
text-align: center;
}

#card_container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    padding: 20px;
    
}
.card{
  background: #0f172a;
  color: white;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  height: 200px;
}

.card:hover{
transition: 0.8s;
transform: translateY(-8px);
box-shadow:0 8px 25px rgba(0, 191,255,0.4);
}

.card img{
width: 30%;
height: 30%;
border-radius:12px;
}

.card h2{
font-family: 'Orbitron',sans-serif;
font-size: 1.2rem;
margin-bottom:#00BFFF;
align-self: center;}

.card p{
justify-content: center;
flex-grow: 1;
font-size: 14px;
overflow: hidden;

}

.card button{
background: linear-gradient(90deg,#1E3A8A,#2563EB);
border: none;
padding: 8px 15px;
border-radius: 6px;
color: white;
}

.card button:hover{
cursor: pointer;
transition:0.3s;
background: linear-gradient(90deg,#2563EB,#00BFFF);}

html{
scroll-behavior: smooth;
scrollbar-color: red;
}